<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>
    <!-- href: procesa en local, href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css". th:href: procesa en el servidor. th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"-->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  </head>
  <body>
  <div class="container bg-primary">
    <h1>Hello</h1>
    <h3 th:utext="${name}">Mundo (by Default)</h3>
  </div>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>